@section Header {
    @Html.Partial("_IndexHeader")
}

@{
    bool first = true;
    foreach(IDocument post in Model.DocumentList(Keys.PageDocuments))
    {                
        if (!first)
        {
            <hr /> 
        }
        first = false;
        string lead = post.String(BlogKeys.Lead);
        <div class="post-preview">
            <a href="@Context.GetLink(post)">
                <h2 class="post-title">@post.WithoutSettings.String(BlogKeys.Title)</h2>
                @if(!string.IsNullOrWhiteSpace(lead))
                {
                    <h3 class="post-subtitle">@lead</h3>
                }
            </a>
            <p class="post-meta">Posted on @(post.Get<DateTime>(BlogKeys.Published).ToLongDateString(Context))</p>
            @if(Context.Bool(BlogKeys.IndexFullPosts))
            {
                @Html.Raw(post.Content)
            }
            else
            {
                @Html.Raw(post.String(BlogKeys.Excerpt))
            }             
        </div>       
    }
}

<div class="clearfix">
    @if(Model.Bool(Keys.HasPreviousPage))
    {
        <a class="btn btn-primary float-left" href="@(Context.GetLink(Model.Document(Keys.PreviousPage)))">Newer Posts &larr;</a>
    }
    @if(Model.Bool(Keys.HasNextPage))
    {
        <a class="btn btn-primary float-right" href="@(Context.GetLink(Model.Document(Keys.NextPage)))">Older Posts &rarr;</a>
    }
</div>